.cards{
    display: flex;
}

.cards section{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.cards img{
    width: 250px;
    height: 180px;
}

.cards img:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition-duration: 1;
}

.cards p{
    padding-top: 20px;
    font-size: 16px;
}

.cards h1{
    padding-top: 25px;
    font-size: 20px;
}