.story div{
    width: 400px;
    height: 270px;
    display: flex;
    flex-direction: column;
    background-color: #F8F7FF;
    color: #21243D;
    padding: 20px;
    margin-left: 5%;
}

.story p{
    margin: 7px;
    font-size: 16px;
}

.story h2{
    font-size: 20px;
}


