.cards{
    display: flex;
}

.cards section{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.cards img{
    width: 250px;
    height: 180px;
}

.cards img:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition-duration: 1;
}