.navbar ul{
    display: flex;
    list-style: none;
    margin-left: 7%;
    padding-top: 30px;
}

.navbar li{
    margin-right: 30px;
}

.navbar a{
    color:#9381FF !important;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}
